@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//viewport breakpoints
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;

$head: 'Montserrat', Helvetica, sans-serif;
$body: 'PT Serif', sans-serif;

$dark: #131313;
$light: #ececec;

//nav
$nav-height: 7.5vh;

//gallery 
$carousel-height: 45vh;