@import "./variables";

.footer {
    $width: 80vw;
    width: $width;
    position: fixed;
    height: 5vmin;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 1.25vmin;
    left: $width / 100 * 10;
    right: $width / 100 * 10;    
    p {
        font-size: .69rem;
        font-weight: 400;
        font-family: $body;        
        margin: 0;
    }
    div {
        display: flex; align-items: center; justify-content: center;
    }
    a {margin: 0; margin: 0 .25rem; width: 1.5rem; }
    img {
        // max-width: 2.5rem;
        width: 100%;
        height: 100%;
        margin: 0;
        margin-right: .5rem;
    }
}