@import "./variables";

.carousel {
  // width: 100%;
  width: 0;
  position: fixed;
  top: calc(#{$nav-height} - 5vh);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // height: $carousel-height;
  overflow: hidden;
  background: url("../images/DSC_0815_result.webp");
  background-size: cover;
  background-position: center;
  // padding: 0 10vw;
  animation-name: gallery-stretch;
  animation-fill-mode: forwards;
  animation-duration: 1.1s;
  animation-delay: .2s;
  min-height: 65vh;
  // padding-bottom: calc(65vh - $nav-height);
  // border: 1px solid red; //debug
  @keyframes gallery-stretch {
    0% {width: 0}
    100% {width: 100% }  
  }
  img { margin: 0; max-height: auto; max-width: 45vw; object-fit: contain; object-position: center;}
  span {
    max-width: 45ch;
    min-width: 60vmin;
    padding: 1.5rem 2.5rem;
    // border: 1px solid red; //debug
    margin-right: 10vw;
    margin-top: 10vh;
    h1,p {
      color: $light !important;
      text-shadow: 1px 1px 3px rgba(50,50,50,.425);

    }
    a {
      //buyBtn
      color: $light !important; background: $dark !important;
    }
    a:hover {
      //buyBtn
      color: $dark !important; background: $light !important;      
    }
    
  }
}

@media (max-width: $tablet-bp) {
  .carousel {
    min-height: $carousel-height;
    // max-height: fit-content;
    overflow: visible;
    // flex-direction: column;
    height: auto;
    max-height: auto;
    animation-name: none;
    width: 100%;
    // border: 1px solid blue; //debug
    img  {min-width: 65vmin; max-width: 50vw}
    span {
      padding: 2.5rem 0;
      min-width: 20vw;
      margin-top: 2.5vh;
      max-width: 30ch;
      // border: 1px solid red; //debug
    }
  }
}

@media (max-width: $mobile-bp) {
  .carousel {
    // border: 1px solid red; //debug
    max-height: auto;
    left: 0;
    padding: 0 5vw;
    img {
      max-width: 100%;
    }
    // span {ma}
  }
}