@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,a {
    font-family: 'Montserrat', sans-serif;
}
h1 {font-weight: 800;}
h2 {font-weight: 400;}
a {font-weight: 600;}
p {
    font-family: 'PT Serif', serif;
}
.parent {
    background: $light;
    color: #212121;
    min-height: 100vh;  //debug
    // border: 1px solid red; //debug
    display: flex;
    flex-direction: column;
    .navContainer {
        background: $light;
        .logo {display: block}
        .logoDark {display: none}
    }
    .frontpageContent {
        background: $light;
        // border: 1px solid red; //debug
    }
}
.parent.dark {
    background: $dark;
    color: $light;
    .navContainer {
        background: $dark;
        .logo {display: none}
        .logoDark {display: block}
    }
    p, a {
        color: $light;
    }
    svg path {
        color: $light;
    }
    .frontpageContent {
        background: $dark;
        // border: 1px solid red; //debug
    }
}
.goDarkBtn {
    border: 0;
    background: 0;
    cursor: pointer;
}
.content {
    // border: 1px solid red; //debug
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}