@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, a {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1.1rem;
}

a {
  font-weight: 600;
}

a:active, a:visited, a:hover {
  color: inherit;
}

p {
  font-family: 'PT Serif', serif;
  line-height: 1.6;
}

p, span {
  max-width: 45ch;
}

@media (max-width: 1023px) {
  p, span {
    max-width: 50ch;
  }
}

@media (max-width: 480px) {
  p, span {
    max-width: 100%;
  }
}

.parent {
  background: #ececec;
  color: #212121;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20vh 0;
}

.parent h1 {
  color: #131313;
}

.parent p, .parent a {
  color: #131313;
}

.parent .navContainer {
  background: #ececec;
}

.parent .navContainer .logo {
  display: block;
}

.parent .navContainer .logoDark {
  display: none;
}

.parent .fa-moon {
  display: inline-block;
}

.parent .fa-lightbulb {
  display: none;
}

.parent .frontpageContent {
  background: #ececec;
}

.parent .actionBtn {
  padding: 0.5rem 1.1rem;
  background: #131313;
  color: #ececec;
  text-decoration: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  border-radius: 4px;
}

.parent .actionBtn:hover {
  background: #e6e6e6;
  color: #131313;
}

@media (max-width: 480px) {
  .parent .actionBtn {
    padding: .8rem 1.1rem;
  }
}

.parent .shopContainer .itemContainer {
  background: #f2f2f2;
}

.parent .contactContainer {
  background: #f2f2f2;
}

.parent .variantSelectorDetail {
  background: #f2f2f2;
}

.parent .messengerBtn {
  border-radius: 6px;
  background: #2d2d2d;
  color: #ececec;
  padding: .5rem .8rem;
}

.parent .messengerBtn:hover {
  background: #e6e6e6;
  color: #131313;
}

.parent.dark {
  background: #131313;
  color: #ececec;
}

.parent.dark .navContainer {
  background: #191919;
}

.parent.dark .navContainer .logo {
  display: none;
}

.parent.dark .navContainer .logoDark {
  display: block;
}

.parent.dark .fa-moon {
  display: none;
}

.parent.dark .fa-lightbulb {
  display: inline-block;
}

.parent.dark h1 {
  color: white;
}

.parent.dark p, .parent.dark a {
  color: #ececec;
}

.parent.dark svg path {
  color: #ececec;
}

.parent.dark .frontpageContent {
  background: #131313;
}

.parent.dark .actionBtn {
  padding: 0.5rem 1.1rem;
  background: #ececec;
  color: #212121;
  text-decoration: none;
}

.parent.dark .actionBtn:hover {
  background: #464646;
  color: #ececec;
}

.parent.dark .shopContainer .itemContainer {
  background: #202020;
}

.parent.dark .contactContainer {
  background: #202020;
}

.parent.dark .variantSelectorDetail {
  background: #202020;
}

.parent.dark .messengerBtn {
  background: #e6e6e6;
  color: #131313;
}

.parent.dark .messengerBtn:hover {
  background: #464646;
  color: #ececec;
}

.goDarkBtn {
  border: 0;
  background: 0;
  cursor: pointer;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.upperDiv {
  width: 100%;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upperDiv h1 {
  margin: 0 auto;
}

.backBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backBtn p {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.backBtn p:first-letter {
  text-transform: capitalize;
}
/*# sourceMappingURL=layout.css.map */