@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,a {
    font-family: 'Montserrat', sans-serif;
}
h1 {font-weight: 700; line-height: 1.1; margin-bottom: 1.5rem;}
h2 {font-weight: 400; line-height: 1.1; margin-bottom: 1.1rem;}
a {font-weight: 600;}
a:active, a:visited, a:hover {
    color: inherit;
}
p {
    font-family: 'PT Serif', serif;
    line-height: 1.6;
}
p, span {max-width: 45ch}
@media (max-width: $tablet-bp) {
    p, span {max-width: 50ch}    
}
@media (max-width: $mobile-bp) {
    p, span {max-width: 100%}    
}
.parent {
    background: $light;
    color: #212121;
    min-height: 100vh;  //debug
    // border: 1px solid red; //debug
    display: flex;
    flex-direction: column;
    padding: $nav-height + 12.5vh 0; //make room for nav and footer
    h1 {color: #131313} //increase contrast of headings
    p, a {
        color: $dark;
    }
    .navContainer {
        background: $light;
        .logo {display: block}
        .logoDark {display: none}
    }
        .fa-moon {display: inline-block}
        .fa-lightbulb {display: none} 

    .frontpageContent {
        background: $light;
        // border: 1px solid red; //debug
    }
    .actionBtn {
        padding: 0.5rem 1.1rem;
        background: $dark;
        color: $light;
        text-decoration: none;
        transition: background .2s ease-in-out;
        border-radius: 4px;
    }
    .actionBtn:hover {background: darken($light, 2.5%); color: $dark}
    @media (max-width: $mobile-bp) {
        // bigger button on mobile
        .actionBtn {padding: .8rem 1.1rem;}
    }
    .shopContainer {
        .itemContainer {
            // border: 1px solid red; //debug
            background: lighten($light, 2.5%);
        }
    }
    .contactContainer {background: lighten($light, 2.5%);}
    .variantSelectorDetail {
        background: lighten($light, 2.5%);
    }
    .messengerBtn {border-radius: 6px; background: lighten($dark, 10%); color: $light; padding: .5rem .8rem}
    .messengerBtn:hover {background: darken($light, 2.5%); color: $dark}
}
.parent.dark {
    background: $dark;
    color: $light;
    .navContainer {
        background: lighten($dark, 2.5%);
        .logo {display: none}
        .logoDark {display: block}
    }
        .fa-moon {display: none}
        .fa-lightbulb {display: inline-block}
    h1 {color: lighten($light, 25%)} //increase contrast of headings
    p, a {
        color: $light;
    }
    svg path {
        color: $light;
    }
    .frontpageContent {
        background: $dark;
        // border: 1px solid red; //debug
    }
    .actionBtn {
        padding: 0.5rem 1.1rem;
        background: $light;
        color: #212121;
        text-decoration: none;
    }
    .actionBtn:hover {background: lighten($dark, 20%); color: $light}
    .shopContainer {
        .itemContainer {
            // border: 1px solid red; //debug
            background: lighten($dark, 5%);
        }
    }
    .contactContainer {background: lighten($dark, 5%);}
    .variantSelectorDetail {
        background: lighten($dark, 5%);
    }
    .messengerBtn {background: darken($light, 2.5%); color: $dark;}
    .messengerBtn:hover {background: lighten($dark, 20%); color: $light}

}
.goDarkBtn {
    border: 0;
    background: 0;
    cursor: pointer;
}
.content {
    // border: 1px solid red; //debug
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.upperDiv {
    width: 100%;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    // border: 1px solid red; //debug
    h1 {
        margin: 0 auto;
    }
}
.backBtn {
    display: flex;
    align-items: center;

    p {
        margin: 0;
        font-family: $head;
    }
    p:first-letter {
        text-transform: capitalize;
    }
}