@import "./variables";

.navContainer {
    $width: 100%;
    $width-mobile: 90vw;
    width: $width;
    min-height: $nav-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10vw;
    padding-top: 5vh;
    padding-bottom:  2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 20;
    // border: 1px solid red; //debug
    img {max-width: 10vw;}
    nav {
        a {
            text-decoration: none;
            margin-right: 1.1rem;
        }
        display: flex;
        align-items: flex-end;
        // border: 1px solid blue; //debug

    }
    p, img, a {
        margin: 0;
    }

}
@media (max-width: $mobile-bp) {
    .navContainer {
        $width: 90vw;
        width: $width;
        left: 5vw;
        right: 5vw;
        top: 4.25vh;

        border: 1px solid green; //debug
    }
}